<footer id="footer">
	<hr class="style" />
    <div class="block-footer">
    	<div class="small block-footer-left">© Copyright {{ site.time | date: '%Y' }} {{ site.author }} </div>  
    	<div class="small block-footer-right">
    		<a href="mailto:contact@adrienbouttier.com"><i class="icon-mail add-color"></i> Contact</a>
    		<a href="https://www.linkedin.com/in/adrien-bouttier-92768388"><i class="icon-linkedin add-color"></i> LinkedIn</a>
	    	<a href="https://twitter.com/HiBigBob"><i class="icon-twitter add-color"></i> Twitter </a>
	    	<a href="https://github.com/HiBigBob"><i class="icon-github add-color"></i> GitHub </a>
    	</div>
	</div>
</footer>