

<section id="wrapper" class="home">
    <section class="header-resume">
    <div class="header-content">
        <b>Développeur Full-Stack (Symfony2/Javascript)</b> à Lyon depuis 7 ans. <br />
        Bépo enthousiaste, VIM addict, en veille active sur le Javascript.
        <br /><br />
        Ma <b>veille</b> tourne essentiellement autour de : <b>Javascript (ReactJs, ES6, VueJs, EmberJS, NodeJs)</b>
    </div>
</section>

<p><hr class="style" /></p>

<section class="timeline skills">
    <div class="time-head">
        <i class="icon-user"></i>
    </div>
    <ul class="skill-list">
        <li>
            <h4>Back end</h4>
            <div class="progress">
                <div class="percentage" style="width:80%;"></div>
            </div>
        </li>
        <li>
            <h4>Front end</h4>
            <div class="progress">
                <div class="percentage" style="width:70%;"></div>
            </div>
        </li>
        <li>
            <h4>Design</h4>
            <div class="progress">
                <div class="percentage" style="width:69%;"></div>
            </div>
        </li>
        <li>
            <h4>Optimisation SQL</h4>
            <div class="progress">
                <div class="percentage" style="width:85%;"></div>
            </div>
        </li>
    </ul>
</section>

<p><hr class="style" /></p>

<p><section class="timeline">
    <article class="time-head">
        <i class="icon-user"></i>
    </article>
    <article class="time">
        <div class="time-date">
            2014
        </div>
        <div class="time-body">
            <div class="content">
                <h5>Lead développeur Symfony2</h5>
                <div class="details">
                    <i class="icon-location"></i> Wanadev | <i class="icon-globe"></i> Lyon | <i class="icon-calendar"></i> Juin 2014
                </div>
                <div class="text">
                    <ul class="list-task">
                        <li>
                            <i class="icon-check"></i> Développement en Symfony2
                        </li>
                        <li>
                            <i class="icon-check"></i> Lead développeur d&#39;une API Restful Oauth2
                        </li>
                        <li>
                            <i class="icon-check"></i> Optimisation des performances
                        </li>
                    </ul>
                </div>
            </div>
            <p class="attribution">
                <span class="labels">Symfony2</span>
                <span class="labels">Javascript</span>
                <span class="labels">API RestFul</span>
                <span class="labels">OAuth2</span>
                <span class="labels">Silex</span>
                <span class="labels">Optimisation SQL</span>
                <span class="labels">ReactJs</span>
                <span class="labels">PHPUnit</span>
                <span class="labels">MySQL</span>
                <span class="labels">Bootstrap</span>
                <span class="labels">CSS3</span>
            </p>
        </div>
    </article>
    <article class="time">
        <div class="time-date">
            2014
        </div>
        <div class="time-body">
            <div class="content">
              <h5>Développeur Symfony2</h5>
              <div class="details">
                <i class="icon-location"></i> KNPLabs | <i class="icon-globe"></i> Lyon | <i class="icon-calendar"></i> Janvier - Mai 2014
              </div>
              <div class="text">
                    <ul class="list-task">
                        <li>
                            <i class="icon-check"></i> Développement en Symfony2
                        </li>
                    </ul>
              </div>
            </div>
            <p class="attribution">
                <span class="labels">Symfony2</span>
                <span class="labels">Javascript</span>
                <span class="labels">Behat</span>
                <span class="labels">PHPSpecs</span>
                <span class="labels">Bootstrap</span>
                <span class="labels">CSS3</span>
            </p>
        </div>
    </article>
    <article class="time">
        <div class="time-date">
            2009
        </div>
        <div class="time-body">
            <div class="content">
              <h5>Développeur .Net</h5>
              <div class="details">
                <i class="icon-location"></i> DotSoft | <i class="icon-globe"></i> Lyon | <i class="icon-calendar"></i> Mars 2009 - Décembre 2013
              </div>
              <div class="text">
                    <ul class="list-task">
                        <li>
                            <i class="icon-check"></i> Responsable de la maintenance du site e-commerce Pimkie<br>
                        </li>
                        <li>
                            <i class="icon-check"></i> Développement des projets Pimkie
                        </li>
                        <li>
                            <i class="icon-check"></i> Optimisation des performances du site e-commerce Pimkie
                        </li>
                        <li>
                            <i class="icon-check"></i> Référent fonctionnel Pimkie<br>
                        </li>
                        <li>
                            <i class="icon-check"></i> Gestion des recettes et des mises en production
                        </li>
                        <li>
                            <i class="icon-check"></i> Astreinte multi-niveau<br>
                        </li>
                        <li>
                            <i class="icon-check"></i> Gestion et support client
                        </li>
                        <li>
                            <i class="icon-check"></i> Maintenance logiciel de gestion commerciale (Gitem, ...)<br>
                        </li>
                        <li>
                            <i class="icon-check"></i> Maintenance site E-commerce (Feuvert, IKKS, Bricorama, ...)
                        </li>
                    </ul>
              </div>
            </div>
            <p class="attribution">
                <span class="labels">C#</span>
                <span class="labels">VB.Net</span>
                <span class="labels">ASP.Net</span>
                <span class="labels">SQL Server</span>
                <span class="labels">Optimisation SQL</span>
                <span class="labels">ASP</span>
                <span class="labels">CSS</span>
            </p>
        </div>
    </article>
    <article class="time">
        <div class="time-date">
            2008
        </div>
        <div class="time-body">
            <div class="content">
              <h5>Développeur .Net</h5>
              <div class="details">
                <i class="icon-location"></i> CGI | <i class="icon-globe"></i> Paris | <i class="icon-calendar"></i> Juin 2008 - Mars 2009
              </div>
              <div class="text">
                    <ul class="list-task">
                        <li>
                            <i class="icon-check"></i> Développement et maintenance applicative sur le projet COFELY (GDF-SUEZ)
                        </li>
                    </ul>
              </div>
            </div>
            <p class="attribution">
                <span class="labels">C#</span>
                <span class="labels">ASP.Net</span>
                <span class="labels">SQL Server</span>
                <span class="labels">Optimisation SQL</span>
            </p>
        </div>
    </article>
</section>​</p>

<p><hr class="style" /></p>

<p><section class="timeline">
    <article class="time-head">
        <i class="icon-user"></i>
    </article>
    <article class="time">
        <div class="time-date">
            2012
        </div>
        <div class="time-body">
            <div class="content">
              <h5>Ingénieur - Systèmes d&#39;information</h5>
              <div class="details diplome">
                <i class="icon-location"></i> CNAM (EICNAM) | <i class="icon-globe"></i> Lyon | <i class="icon-calendar"></i> Depuis 2012 (en cours)
              </div>
            </div>
        </div>
    </article>
    <article class="time">
        <div class="time-date">
            2011
        </div>
        <div class="time-body">
            <div class="content">
              <h5>Licence Informatique</h5>
              <div class="details diplome">
                <i class="icon-location"></i> CNAM | <i class="icon-globe"></i> Lyon | <i class="icon-calendar"></i> Depuis 2011
              </div>
            </div>
        </div>
    </article>
    <article class="time">
        <div class="time-date">
            2008
        </div>
        <div class="time-body">
            <div class="content">
              <h5>BTS Informatique de Gestion</h5>
              <div class="details diplome">
                <i class="icon-location"></i> Lycée Douanier Rousseau | <i class="icon-globe"></i> Laval
              </div>
            </div>
        </div>
    </article>
</section>​</p>
