<div class="nav">
	<div class="nav__wrapper">
		<a class="nav__logo-wrapper" href="/" >
		<h1 class="nav__logo" >Adrien&nbsp;Bouttier</h1></a>
		<!-- <div>
	        <a href="{{ site.baseurl }}" class="btn btn--login btn--nav">
	        	<i class="icon-home"></i> <span class="title">Blog</span>
	        </a>
            <a href="{{ site.baseurl }}sandbox" class="btn btn--login btn--nav">
            	<i class="icon-beaker"></i> <span class="title">Sandbox</span>
            </a>
            <a href="{{ site.baseurl }}a-propos" class="btn btn--login btn--nav">
            	<i class="icon-user"></i> <span class="title">A propos</span>
            </a>
		</div> -->
	</div>
</div>
