<div class="profile">
    <section id="wrapper">
        <header id="header">
            <img id="avatar" class="2x" src="{{ site.baseurl }}assets/images/hi-avatar.png"/>
            <div style="font-size:20px;font-weight:bold;">{{ site.author }}</div>
            <div style="margin-top:20px;font-size:18px;">Développeur Full-Stack</div>
            <blockquote class="blockquote-profile">
                Quiconque cesse d’apprendre est vieux, qu’il ait vingt ans ou quatre-vingts. Quiconque continue à apprendre reste jeune.
                <p>- Henri Ford</p>
            </blockquote>
        </header>
        <hr class="style" />
    </section>
</div>