/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Clearfix */
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.hidden { display: none; }

/* Icons */
@font-face {
	font-family: 'icons';
		src: url('../fonts/icons.eot');
		src: url('../fonts/icons.eot#iefix') format('embedded-opentype'),
		url('../fonts/icons.woff') format('woff'),
		url('../fonts/icons.woff2') format('woff2'),
		url('../fonts/icons.ttf') format('truetype'),
		url('../fonts/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
}

.icon-user:before { content: '\e800'; }
.icon-twitter:before { content: '\e801'; }
.icon-home:before { content: '\e802'; }
.icon-location:before { content: '\e803'; }
.icon-calendar:before { content: '\e804'; }
.icon-globe:before { content: '\e805'; }
.icon-check:before { content: '\e806'; }
.icon-mail:before { content: '\e807'; }
.icon-github:before { content: '\e808'; }
.icon-graduation:before { content: '\e809'; }
.icon-linkedin:before { content: '\e80a'; }
.icon-laptop:before { content: '\e80b'; }
.icon-menu:before { content: '\e80c'; }
.icon-beaker:before { content: '\e80d'; }


/* Spacing */
.post h1, h3, h4, h5, p, .post-body ul, #post-list li, pre {
margin-bottom: 20px;
}

/* Base */
html, body { height: 100%; }

body {
	font:16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	background-color: #fafafa
}

h1 {
	font-size: 30px;
	letter-spacing: -1px;
	color: #222;
	font-weight: bold;
}

h2 {
	font: italic 19px/1.3em Georgia,serif;
	color: #bbb;
}

.profile #wrapper {
	padding: 100px 40px 0px;
	max-width: 800px;
	margin: 0 auto;
}

.profile #header {
	/*border-bottom: 1px solid #eee;*/
	margin-bottom: 20px;
	padding-bottom: 20px;
	text-align: center;
	position: relative;
}

.profile #avatar {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-bottom: 20px;
}

.profile h1 {
	font-weight: 400;
	letter-spacing: 0px;
	font-size: 20px;
	color: #222;
}

.profile h2 {
	font-size: 20px;
	  font-weight: 300;
	  color: #aaa;
	  margin-top: 10px;
	  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	  font-style: normal;

}

nav.main-nav {
	padding: 20px 20px 0;

	/*max-width: 600px;*/
	/*width:100%;*/
	background: #fff;
	background: rgba(255,255,255,.90);
	margin: 0 auto;
	text-align: right;
	/*position: fixed;*/
	z-index: 100;
}

nav.main-nav a {
	top: 8px;
	right: 6px;
	padding: 8px 12px;
	color: #5badf0;
	font-size: 13px;
	/*font-weight: bold;*/
	line-height: 1.35;
	border-radius: 3px;

}
nav.main-nav a.cta {
	background: #5badf0;
	color: #fff;
	margin-left: 12px;
}

#wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 40px 100px 40px;
}

#wrapper.home {
	max-width: 800px;
	margin: 0 auto;
	padding: 0px 40px 20px 40px;
}

.home #avatar {
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

/* Typography */
/*Accent color*/
a,
#title,
#post-list a:hover,
#post-list li:hover .dates,
#title:hover {
	text-decoration: none;
	color: #0B749B;
}

p a { color: #5694f1; }

/*Transitions*/
a,
#post-nav a,
#post-list a	{
	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-ms-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	transition: all 0.15s ease;
}

ul 	{ margin:0; padding:0; }
li	{ list-style-type:circle; list-style-position:inside; }

/* Line Height */
#post-body, p { line-height:1.7; }

b, strong { font-weight: 500;
  color: #1E2025; }
em, i { font-style: italic; }

#title {
	display: inline-block;
	line-height: 100%;
	font-weight: 500;
	font-size: 19px;
	margin: 0;
	padding-bottom: 20px;
}

.description {
	float: right;
	font: italic 14px/1.4em Georgia,serif;
	color: #aaa;
}



.home h1 {
	font-size: 30px;
	letter-spacing: -1px;
	color: #222;
	font-weight: bold;
}

.home h2 {
	font: italic 19px/1.3em Georgia,serif;
	color: #bbb;
}

.post header {
	text-align:center;

}

.post h1 {
	margin-bottom: 20px;
	color: #222;
	font: 300 32px/1.4em "Helvetica Neue", Helvetica,Arial,sans-serif;
}

.post h2 {
	margin-bottom: 40px;
	  font: 300 24px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
	  color: #111;
}


.post h2.headline {
	/*font: italic 22px/1.3em Georgia,serif;*/
	font: normal 13px/1.5em "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: -5px 0 40px 0;
	color: #b2b9be;
	  font-size: 13px;
	  text-transform: uppercase;
	  letter-spacing: 2px;
	  /*margin-top: 15px;*/
	  display: inline-block;
}

#post-list h2 {
	font: normal 17px/1.5em "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #aaa;
	max-width: 400px;
	margin-top: 2px;
}

h3, h4, h5 { color:#333; }

h3 { font-size:20px; font-weight: 400; }
h4 { font-size:16px; font-weight:bold; }
h5 { font-size:15px; font-weight: bold; }

h6 {
	font-size: 13px;
	font-weight: bold;
	color: #666;
	margin-bottom: 6px;
}

p.small {
	color: #bbb;
	font-size: 14px;
	line-height: 1.5;
	display: block;
}

#footer .small {
	color: #bbb;
	font-size: 14px;
	line-height: 1.5;
	display: block;
}

.block-footer div {
	display: inline;
	margin-bottom: 40px;
}

.block-footer-left {
	float: left;
}

.block-footer-right {
	float: right;
}

.block-footer-right a {
	margin-left: 10px;
}


blockquote {
	padding-left: 15px;
	border-left: 3px solid #eee;
}

hr {
	display: block;
	border: none;
	height: 1px;
	margin: 40px auto;
	background: #eee;
	width: 80%;
}

span.code { font-family:Menlo, Monaco, Courier; background-color:#EEE; font-size:14px; }

pre	{
	font-family:Menlo, Monaco, Courier;
	white-space:pre-wrap;
	/*border: 1px solid #ddd;*/
	padding:20px;
	background-color:#fdfdfd;
	/*font-size:14px;*/
	overflow:auto;
	border-radius: 3px;
	background: #272b2d;
	  font-family: 'Source Code Pro',Menlo,monospace;
	  font-size: 13px;
	  line-height: 1.5em;
	  font-weight: 500;
	color: #d0d4d7;

}

table {
	width: 100%;
	margin: 40px 0;
	border-collapse: collapse;
	font-size: 13px;
	line-height: 1.5em;
}

th,td {
	text-align: left;
	padding-right: 20px;
	vertical-align: top;
}

table td,td {
	border-spacing: none;
	border-style: solid;
	padding: 10px 15px;
	border-width: 1px 0 0 0;
}

tr>td {
	border-top: 1px solid #eaeaea;
}

tr:nth-child(odd)>td {
	background: #fcfcfc;
}

thead th,th {
	text-align: left;
	padding: 10px 15px;
	height: 20px;
	font-size: 13px;
	font-weight: bold;
	color: #444;
	border-bottom: 1px solid #dadadc;
	cursor: default;
	white-space: nowrap;
}

img {
	width: 100%;
	max-width: 100%;
	border-radius: 3px;
}

/* Made with Cactus Badge */
#badge {
	position: absolute;
	bottom: 8px;
	right: 8px;
	height: 48px;
	width: 48px;
}

/*=========================================
Post List
=========================================== */
#post-list,#archive-list {
	margin-top: 100px;
}

#post-list li,#archive-list li {
	list-style-type: none;
}

#post-list li:last-child {
	margin-bottom: 0;
}

#post-list li+li {
	padding-top: 20px;
	border-top: 1px solid #eee;
}

#post-list a {
	color: #333;
	display: block;
	font: bold 19px/1.7 "Helvetica Neue",helvetica,Arial,sans-serif;
}

#post-list .dates {
	float: right;
	position: relative;
	top: 1px;
	font: 300 17px/1.8 "Helvetica Neue",helvetica,Arial,sans-serif;
	color: #bbb;
}

#post-list-footer {
	/*border-top: 1px solid #eee;*/
	margin-top: 20px;
	padding-top: 100px;
}

#archive-link {
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	border-radius: 4px;
	padding: 3px 10px 6px;
	box-shadow: 0 0 0 1px hsla(207,83%,80%,1);
}

#archive-link:hover {
	background: #5694f1;
	color: #fff;
	box-shadow: 0 0 0 1px #5694f1;
}

#archive-link span {
	position: relative;
	top: 0;
	font-size: 17px;
}

#footer {
	margin-top: 100px;
}

.post {
	margin: 80px 0 0 0;
}

#post-meta {
	font-size: 13px;
	font-weight: bold;
	line-height: 1.4;
	/*border-top: 1px solid #eee;*/
	padding-top: 40px;
	margin-bottom: 40px;
	padding-bottom: 40px;
	margin-top: 40px;
	color:#444;
	/*border-bottom: 1px solid #eee;*/
}

#post-meta div span {
	color: #aaa;
	font-weight: 500;
	display: block;
}

#post-meta div span.dark {
	color: #1E2025;

}

#post-meta div {
	margin: 0 25px 0 0;
	float: left;
}

#sharing {
	float: right;
	margin: -2px;
}

#sharing a {
	font-size: 20px;
	font-size: 23px;
	margin-left: 1px;
	margin-top: 4px;
	color: #d4d4d4;
	display: inline-block;
	vertical-align: middle;
}

#sharing a:hover {
	/*color: #444;*/
	opacity: 0.8;
}

/* Post Navigation */
#post-nav {
	border-top:1px solid #eee;
	text-align:center;
	padding-top:20px;
	font-size:13px;
	font-weight:500;
	margin-top: 40px;
}

#post-nav span {
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
	position: relative;
}

#post-nav span.prev {
	float: left;
}

#post-nav span.next {
	float: right;
}

#post-nav span .arrow {
	position: relative;
	padding: 1px;
}

#post-nav span.prev:hover .arrow {
	left: -4px;
}

#post-nav span.next:hover .arrow {
	right: -4px;
}

#post-nav span.prev:hover {
	left: -3px;
}

#post-nav span.next:hover {
	right: -3px;
}

/* Archive */
h1.archive {
	margin-bottom: 0px;
}

h2.month {
	width: 100%;
	font: bold 13px/1 "Helvetica Neue",helvetica,Arial,sans-serif;
	text-transform: uppercase;
	margin-top: 40px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

#archive-list li:last-child {
	margin-bottom: 0;
}

#archive-list a {
	display: block;
	font: bold 17px/1.7 "Helvetica Neue",helvetica,Arial,sans-serif;
	color: #333;
}

#archive-list .dates {
	float: right;
	position: relative;
	top: 1px;
	font: 300 17px/1.7 "Helvetica Neue",helvetica,Arial,sans-serif;
	color: #bbb;
}

#archive-list li a:hover,#archive-list li:hover .dates {
	color: #5694f1;
}

#post-meta img.avatar {
  height: 36px;
  width: 36px;
  float: left;
  border-radius: 50%;
  margin-top: 3px;
  margin-right: 20px;
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #eee;
}

#post-list.archive.readmore h3{

	  font: 400 20px "Helvetica Neue", Helvetica,Arial,sans-serif;
	  margin-bottom: 30px;
}

#post-list.archive.readmore a{
	font: 400 16px/1.6 "Helvetica Neue",helvetica,Arial,sans-serif;
	color: #5694f1;
}

#post-list.archive.readmore a:hover{
	opacity: 0.8;
}

#post-list.archive.readmore .dates{
	font: 300 16px/1.6 "Helvetica Neue",helvetica,Arial,sans-serif;
}
#sharing a.facebook {
  background: #4361b3;
}
#sharing a.twitter {
  background: #0B749B;
}

#sharing a {
  font-size: 20px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  margin-left: 2px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3.5em;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
    padding: 1em;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    z-index: 1;
}

.nav__wrapper {
    max-width: 768px;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    padding-right: 20px;
}

.nav__logo {
    /*font-size: 1.2em;*/
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #222;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0px;
    font-size: 20px;
}

.nav__logo-wrapper {
    text-decoration: none;
}

.btn--nav {
    font-size: 0.8em;
    text-transform: uppercase;
}
.btn {
    padding: 0.5em 1em;
    color: #0B749B;
    border: 1px solid #0B749B;
    border-radius: 3px;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
}

.blockquote-profile {
  /*background: #f9f9f9;*/
  border-left: 0px solid #ccc;
  margin: 1.1em 5px;
  padding: 0.5em 10px;

  quotes: "\201C""\201D""\2018""\2019";
}
.blockquote-profile:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.blockquote-profile p {
  /*display: inline-block;*/
  margin-top:10px;
  padding-right: 10px;
  float: right;
  font-weight: 500;
}

/* Media Queries */
@media screen and (max-width: 540px) {
	#wrapper { padding:20px 20px 20px 20px;}
	#header { margin-bottom: 60px; border-bottom: 1px solid #eee; }
	.post { margin: 40px 0; }
	#footer { margin-top: 60px; }

	#post-list, #archive-list { margin-top: 0; }
	#post-meta { margin-top: 60px; }

	#title { font-size: 17px; }
	#post-list .dates { display: none; }

	#post-list-footer { margin-top: 20px; padding-top: 40px; }

	h1 { font-size: 26px; }
	.post h2.headline { font-size: 13px; }
	.post h1 { font-size:24px; }
	.post h2 { font-size:20px; }

	.btn span.title {display: none}
}



article { display: block }

a {
    color: #6d84b4;
    text-decoration: none;
}

.time {
    overflow: hidden;
    padding: 0 0 1em;
    margin: 0 0 1em;
    margin-left: 20px;
    *zoom: 1;
    width: 97%;
}

.time-img {
    float: left;
    margin-right: 33px;
    border-radius: 5px;
    overflow: hidden;
}

.time-date {
    float: left;
    margin-right: 35px;
    border-radius: 5px;
    overflow: hidden;
    padding: 12px 0px 0px 12px;
}

.time-date { display: block }

.time-body { overflow: hidden }

.time .content {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
}

.time .content .details {
	margin-top: -15px;
	margin-bottom: 15px;
	display: block;
	font-size: 12px;
	font-weight: bold;
	color: #9AA1B1;
}

.time .content .details.diplome {
	margin-bottom: 0px;
}

.time .content .text {
	font-size: 14px;
}

.time .content p:last-child { margin: 0 }

.time .attribution {
    margin: 0.2em 0 0 0.2em;
    font-size: 14px;
    color: #666;
}

.time-head {
    /*z-index: 1;*/
    width: 40px;
    min-height: 40px;
    border-style: none;
    border-color: transparent;
    background-color: #2574A9;
    border-radius: 35px;
    color: #FFFFFF;
    font-size: 15px;
    text-align: center;
    line-height: 38px;
    position: relative;
    margin-left: 65px;
    margin-bottom: 20px;
}

.time-head.img {
	width: 70px;
    min-height: 70px;
    line-height: 0px!important;
}

.timeline, .time, .time-head { position: relative }

.timeline:before, .time:before, .time .content:before {
    content: "";
    position: absolute;
    top: 0;
    left: 45px;
}

.timeline:before {
    width: 3px;
    left: 85px;
    bottom: 0px;
    background: rgba(0,0,0,0.1);
}

.time:before {
    width: 10px;
    height: 10px;
    /*border: 3px solid #fff;*/
    border-radius: 100px;
    margin: 16px 0 0 16px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
    background: #0B749B;
}

.time-head:before {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin: 16px 0 0 -4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
    background: #0B749B;
}

.time:hover:before { background: #fafafa }

.time .content:before {
    top: 18px;
    left: 78px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.skills {
	margin-bottom: 60px;
}

.skill-list {
	margin-left: 105px;
}

.skill-list .progress {
    border: 1px solid #2574a9;
}

.progress {
    margin: -10px 0px 20px 0px;
    display: block;
    height: 6px;
    position: relative;
    width: 100%;
    overflow: visible;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background: #ffffff;
    box-shadow: 0;
}

ul.skill-list li {
    list-style: none;
}

.skill-list .progress .percentage {
    background-color: #2574a9;
}

.progress .percentage {
    border-radius: 50px 0 0 50px;
    -moz-border-radius: 50px 0 0 50px;
    -webkit-border-radius: 50px 0 0 50px;
    -ms-border-radius: 50px 0 0 50px;
    -o-border-radius: 50px 0 0 50px;
    bottom: 0;
    position: absolute;
    top: 0;
}

.labels {
	background-color: #2574A9;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	padding: 1px 6px 1px 6px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.header-resume {
	display: inline-block;
}

.header-content {
	float: left;
	margin-left: 5%;
}

.add-color {
	color: #2574A9;
}

.list-task li {
	list-style: none;
}

hr.style {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.post-list-img {
	vertical-align: middle;
	width: 40px;
	height: 40px;
	margin-right: 20px;
}


.post-small {
    border: 1px solid #EEEEEE;
    background-color: #ffffff;
    width: 48%;
    float: left;
    height: 100%;
    margin-bottom: 40px;
    margin: 0px 10px 10px 0px;
}

.post-small .img-responsive {
    width: initial;
    vertical-align: middle;
    margin: 5%;
    height: 100%;
}

.post-small .post-featured {
	text-align: center;
    height: 100px;
    padding: 5%;
}
.post-small .post-container .post-header {
    margin-bottom: 15px;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
}
.post-small .post-container .post-header > a {
    font-size: 12px;
    color: #0B749B;
    border: 2px solid #BB8D5B;
    display: inline-block;
    line-height: 35px;
    margin: 0 3px 25px 3px;
    padding-right: 35px;
    padding-left: 35px;
    text-decoration: none;
    outline: none;
}
.post-small .post-container .post-header h3 {
    margin-bottom: 15px;
    line-height: 1.4;
    font-size: 16px;
    padding-left: 5%;
    padding-right: 5%;
}
.post-small .post-container .post-header h3 a {
    color: inherit;
    text-decoration: none;
}
.post-small .post-container .post-header h3:hover > a {
    color: #0B749B;
}
.post-small .post-container .post-header p {
    font-family: "Playfair Display", serif;
    font-size: 12px;
    color: #888888;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 10px;
}
.post-small .post-container .post-header:before {
    display: inline-block;
    content: '';
    width: 100%;
    height: 2px;
    margin-bottom: 20px;
    background-color: #0B749B;
}
.post-small .post-container hr {
    margin: 0;
}
.post-small .post-container .post-content {
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    margin-bottom: 15px;
}
.post-small .post-container .post-content p {
    margin-bottom: 0px;
    line-height: 30px;
    text-align: left;
}
@media (max-width: 480px) {
    .post-small .post-container .footer-item:last-child {
        display: none;
    }
    .post-small {
	    width: 100%;
	}
}
